<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>fly.solutions</h2>
        </header>
        <p>Guided fly fishing trips on the <strong>Metolias River</strong> in
        <br />
        central Oregon.
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Plan your trip</a></li>
            </ul>
        </footer>

    </div>

</section>